<%# TODO %>

<div class="board">
  <table>
    <tr>
      <td><button id="field_0">0</button></td>
      <td><button id="field_1">1</button></td>
      <td><button id="field_2">2</button></td>
    </tr>
    <tr>
      <td><button id="field_3">3</button></td>
      <td><button id="field_4">4</button></td>
      <td><button id="field_5">5</button></td>
    </tr>
    <tr>
      <td><button id="field_6">6</button></td>
      <td><button id="field_7">7</button></td>
      <td><button id="field_8">8</button></td>
    </tr>
  </table>
</div>
