<%= turbo_frame_tag "field#{field_nr}" do %>
  <div class="text-orange-400" data-controller="remove-css-class" data-remove-css-class-target="element" data-remove-css-class-css-class-value="text-orange-400">
    <%= game.public_send("field#{field_nr}_character") %>
  </div>
<% end %>
