<%= turbo_frame_tag "field#{field_nr}" do %>
  <div class="bg-orange-500" data-controller="remove-css-class" data-remove-css-class-target="element" data-remove-css-class-css-class-value="bg-orange-500">
    <%= game.public_send("field#{field_nr}_character") %>
  </div>
<% end %>
